In [52]:
import pandas as pd
import json
import requests

base_url = 'https://samples.adsbexchange.com/readsb-hist/2024/07/01/{:06d}Z.json.gz'

# Define the start and end times (in seconds) and the step size
start_time = 0

# end_time = 24 * 60 * 60  # 24 hours in seconds
end_time = 50 #### uncomment the above to get 24 hours of data

step_size = 5  # Step size in seconds

# List to hold all the data
all_data = []

# Loop through the range and process each URL
for time in range(start_time, end_time, step_size):
    url = base_url.format(time)
    print(f"Processing URL: {url}")  # Print the URL for reference

    try:
        # Fetch the data from the URL
        r = requests.get(url, allow_redirects=True)
        if r.status_code == 200:
            data = json.loads(r.content)
            # Append the data to the list
            all_data.append(data)
        else:
            print(f"Failed to fetch data from {url} with status code: {r.status_code}")
    except Exception as e:
        print(f"Error fetching data from {url}: {e}")

# Save the collected data into a single JSON file
with open('combined_data.json', 'w') as outfile:
    json.dump(all_data, outfile)

print("Data successfully saved to combined_data.json")

Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000000Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000005Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000010Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000015Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000020Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000025Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000030Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000035Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000040Z.json.gz
Processing URL: https://samples.adsbexchange.com/readsb-hist/2024/07/01/000045Z.json.gz
Data successfully saved to combined_data.json

In [53]:
import json

# Load the data from the JSON file
with open('combined_data.json', 'r') as infile:
    all_data = json.load(infile)

data_aircraft = pd.concat([pd.DataFrame(data['aircraft']) for data in all_data], ignore_index=True)

In [54]:
print(data_aircraft.shape)

data_aircraft.info()

(121157, 58)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121157 entries, 0 to 121156
Data columns (total 58 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   hex               121157 non-null  object
 1   type              121157 non-null  object
 2   flight            103069 non-null  object
 3   r                 107679 non-null  object
 4   t                 107109 non-null  object
 5   alt_baro          114398 non-null  object
 6   gs                108953 non-null  float64
 7   track             100297 non-null  float64
 8   baro_rate         78275 non-null   float64
 9   squawk            100392 non-null  object
 10  category          103857 non-null  object
 11  lat               109360 non-null  float64
 12  lon               109360 non-null  float64
 13  nic               109360 non-null  float64
 14  rc                109360 non-null  float64
 15  seen_pos          109360 non-null  float64
 16  mlat              121157 non-null  object
 17  tisb              121157 non-null  object
 18  messages          121157 non-null  int64
 19  seen              121157 non-null  float64
 20  rssi              121157 non-null  float64
 21  alt_geom          78836 non-null   float64
 22  calc_track        295 non-null     float64
 23  emergency         84598 non-null   object
 24  version           102217 non-null  float64
 25  sil_type          106441 non-null  object
 26  alert             93647 non-null   float64
 27  spi               93548 non-null   float64
 28  geom_rate         42329 non-null   float64
 29  nav_qnh           65039 non-null   float64
 30  nav_altitude_mcp  64878 non-null   float64
 31  nav_heading       40054 non-null   float64
 32  nav_modes         10473 non-null   object
 33  nic_baro          74118 non-null   float64
 34  nac_p             101568 non-null  float64
 35  nac_v             96595 non-null   float64
 36  sil               101568 non-null  float64
 37  gva               72010 non-null   float64
 38  sda               84786 non-null   float64
 39  true_heading      38056 non-null   float64
 40  dbFlags           5405 non-null    float64
 41  tas               25645 non-null   float64
 42  wd                22091 non-null   float64
 43  ws                22091 non-null   float64
 44  mag_heading       26483 non-null   float64
 45  nav_altitude_fms  8056 non-null    float64
 46  ias               25865 non-null   float64
 47  mach              25714 non-null   float64
 48  oat               22687 non-null   float64
 49  tat               22687 non-null   float64
 50  roll              25532 non-null   float64
 51  track_rate        22851 non-null   float64
 52  gpsOkBefore       457 non-null     float64
 53  gpsOkLat          457 non-null     float64
 54  gpsOkLon          457 non-null     float64
 55  rr_lat            5539 non-null    float64
 56  rr_lon            5539 non-null    float64
 57  lastPosition      5528 non-null    object
dtypes: float64(43), int64(1), object(14)
memory usage: 53.6+ MB

In [55]:
data_aircraft.head()

,hex,type,flight,r,t,alt_baro,gs,track,baro_rate,squawk,...,oat,tat,roll,track_rate,gpsOkBefore,gpsOkLat,gpsOkLon,rr_lat,rr_lon,lastPosition
0,a4ce71,other,DAL197,N409DX,A339,36000,481.0,266.00,0.0,6665,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,86e822,adsb_icao,ANA113,JA876A,B789,35975,NaN,NaN,NaN,1442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a2a3b6,adsb_icao,UAL143,N26967,B789,38000,504.9,243.79,NaN,1733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,a21679,other,NaN,N2333U,B77W,32000,512.0,254.00,0.0,3774,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8695a4,adsb_icao,ANA11,JA797A,B77W,34000,507.7,248.39,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN